# WEEK 3 PA

In [2]:
import pandas as pd
import numpy as np

/tmp/ipykernel_96249/2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd.read_csv('DataPreprocessingGraded_dataset.csv')
df.head()

    V1    V2       V3    V4        V5 Target
0  2.0  50.0  12500.0  98.0  NEGATIVE    YES
1  0.0  13.0   3250.0  28.0  NEGATIVE    YES
2    ?     ?   4000.0  35.0  NEGATIVE    YES
3    ?  20.0   5000.0  45.0  NEGATIVE    YES
4  1.0  24.0   6000.0  77.0  NEGATIVE     NO

#### Q1) How many samples are there in this dataset?

In [4]:
df.shape[0]

748

#### Q2) How many input features are there in this dataset?

In [5]:
df.columns

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'Target'], dtype='object')

#### Q3) What type of problem is this?

In [6]:
df.Target.head()

0    YES
1    YES
2    YES
3    YES
4     NO
Name: Target, dtype: object

#### Q4) Which of the features has least variance?

In [29]:
df = df.replace("?" , pd.NA , inplace=True).dropna().describe()

# from sklearn.impute import SimpleImputer
# from sklearn.compose import ColumnTransformer

# mean_ct = ColumnTransformer([
#     ("mean_imputer" , SimpleImputer(strategy='mean') , [0,1])
# ],verbose_feature_names_out=False , remainder='passthrough').set_output(transform="pandas")

# new_df = mean_ct.fit_transform(df)
# new_df.describe()

                 V3          V4
count    739.000000  739.000000
mean    1356.901218   34.304465
std     1444.105299   24.432765
min      250.000000    2.000000
25%      500.000000   16.000000
50%     1000.000000   28.000000
75%     1750.000000   50.000000
max    12500.000000   98.000000

#### Q5) Which of the following features has least number of outliers?

#### Q6) Which of the following is true about target variable?

In [8]:
df.Target.value_counts()

Target
NO     570
YES    178
Name: count, dtype: int64

#### Q7) How many features have missing values in the dataset?

In [9]:
df.value_counts()

V1    V2   V3      V4    V5        Target
2.0   1.0  250.0   2.0   NEGATIVE  NO        27
4.0   1.0  250.0   4.0   NEGATIVE  NO        27
16.0  1.0  250.0   16.0  NEGATIVE  NO        17
14.0  1.0  250.0   14.0  NEGATIVE  NO        16
23.0  1.0  250.0   23.0  NEGATIVE  NO        15
                                             ..
16.0  6.0  1500.0  35.0  NEGATIVE  YES        1
                                   NO         1
      5.0  1250.0  71.0  NEGATIVE  NO         1
                   60.0  NEGATIVE  NO         1
?     ?    4000.0  35.0  NEGATIVE  YES        1
Name: count, Length: 533, dtype: int64

#### Q8) What is total number of missing values in the dataset?

In [10]:
df.replace(to_replace="?" , value=np.nan,inplace=True)
df.isnull().sum().sum()

10

#### Q9) What is average of first feature (i.e. 'V1') after applyting SimpleImputer(strategy = 'median')?

In [11]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan,strategy='median')
imputer.fit_transform(df.V1.to_frame()).mean()

9.552139037433156

#### Q10) What is average of first column after applyting KNNImputer(n_neighbors = 3)?

In [12]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=3)
imputer.fit_transform(df.V1.to_frame()).mean()

9.562584118438762

#### Q11) What is average of second feature (i.e. 'V2') after applyting SimpleImputer(strategy = 'mean')?

In [13]:
imputer = SimpleImputer(missing_values=np.nan , strategy='mean')
imputer.fit_transform(df.V2.to_frame()).mean()

5.464333781965007