In [1]:
import pandas as pd

/tmp/ipykernel_159242/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
url = "https://drive.google.com/file/d/16D9FztGYzHiOXHzz5FiojqVbyOyV6zM2/view"
fileId = url.split("/")[-2]
urlNew = "https://drive.google.com/uc?id=" + fileId
df = pd.read_csv(urlNew)

In [34]:
df.head()

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East

#### Q1) Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the 0th indexed row in the selected dataframe. (row/ column indexed from zero(0) in python/pandas)

In [35]:
df[::2].iloc[0,3]

111440.0

#### Q2) Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the 332th indexed row in the selected dataframe. (row/ column indexed from zero(0))

In [36]:
df[::2].iloc[332,3]

256200.0

#### Q3) Select all the odd indexed rows from the given dataset. What is the value in the 3rd indexed column of the 332th indexed row in the selected dataframe. (row/ column indexed from zero(0))
 Please consider case sensitivity while giving your solution capital letter ≠ small letter   
  If it is a string don't write quotes in the solution.

In [37]:
df[1::2].iloc[332,3]

352940.0

#### Q4) Select all the odd indexed columns from the given dataset. What is the value in the 5th indexed column of the 100th indexed row in the selected dataframe. (row/ column indexed from zero(0))
Please consider case sensitivity while giving your solution capital letter ≠ small letter  
If it is a string don't write quotes in the solution.

In [38]:
df.iloc[:,1::2].iloc[100,5]

'West'

#### Q5) Select all the even indexed columns and even indexed rows from the given dataset. What is the value in the 3th indexed column of the 255th indexed row in the selected dataframe. (row/ column indexed/starts from zero(0))
Please consider case sensitivity while giving your solution capital letter ≠ small letter  
If it is a string don't write quotes in the solution.

In [39]:
df.iloc[::2 , ::2].iloc[255,3]

'Detached House'

#### Q6) Determine the number of samples (rows) in the dataset that belong to the six most recent years, based on the provided data.

In [40]:
maxYear = df['Year'].max()
df[df['Year'].isin(range(maxYear - 6 + 1 , maxYear+1))].shape[0]

4749

#### Q7) Determine the number of samples (rows) in the dataset which has num_rooms = 3 or num_bathrooms = 3

In [3]:
df[ (df["num_rooms"]==3) & (df["num_bathrooms"] == 3) ].shape[0]

2730

#### Q8) Determine the number of samples (rows) in the dataset which has num_rooms = 3 or num_bathrooms = 3

In [4]:
df[ (df["num_rooms"]==3) | (df["num_bathrooms"] == 3) ].shape[0]

8591

#### Q9) In the Year 2022, how many houses (rows) located in the Greenwich Locality have exactly num_room == 3, and facing towards either the North or East?

In [46]:
df[ (df["Year"] == 2022) & (df["Locality"] == "Greenwich") & (df["num_rooms"] == 3) & ((df["Face"] == "North") | (df["Face"] == "East"))].shape[0]

42

#### Q10) Calculate the number of samples(rows) that correspond to the month of August across all the years.?

In [43]:
df["Date"].apply(lambda date : date.split("-")[1] == "08").sum()

1050

#### Q11) According to the data which Locality have highest average Sale Price?

In [44]:
df.groupby("Locality")["Sale Price"].mean().idxmax()

'Greenwich'