In [53]:
import pandas as pd

In [54]:
df = pd.read_csv("Preprocessing1.csv")

In [55]:
df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,WeekDay,Day
0,Jet Airways,Delhi,Banglore,DEL → BOM → COK,20:00,04:25 10 Jun,26h 35m,1 stop,In-flight meal not included,14924,6,Thursday,6.0
1,Jet Airways,Delhi,Cochin,DEL → BOM → COK,16:00,19:00 10 Jun,27h,1 stop,In-flight meal not included,10577,6,Sunday,9.0
2,Jet Airways,Mumbai,Hyderabad,BOM → HYD,19:35,21:05,1h 30m,non-stop,No info,5678,3,Friday,15.0
3,Multiple carriers,Delhi,Banglore,DEL → BOM → COK,18:55,01:30 16 Jun,15h 10m,1 stop,In-flight meal not included,7408,5,Monday,6.0
4,Air India,Delhi,Cochin,DEL → COK,17:10,17:55,8h 20m,non-stop,No info,6724,6,Monday,24.0

### Q2 [5 marks]: What is the average of the flight ticket price? Write your answer correct to two decimal places.

**Answer**

V1: $9027.89$ Range: $[9027.85, 9027.95]$

V2: $9057.71$ Range: $[9057.66, 9057.77]$

V3: $9062.51$ Range: $[9062.46, 9062.57]$

V4: $9116.56$ Range: $[9116.51, 9116.61]$

V5: $9024.04$ Range: $[9024.0, 9024.09]$

In [56]:
df["Price"].mean()

9027.895555555555

### Q3 [5 marks]: During which month did the highest number of flights occur? Months are represented by numerical codes, with January corresponding to 1, February to 2, and so forth.


**Options**

(A) January

(B) May

(C) October

(D) December

**Answer**

V1: B

V2: B

V3: B

V4: B

V5: B

In [57]:
df.Month.value_counts()

Month
5    3092
6    3044
3    2388
4     926
Name: count, dtype: int64

### Q4 [5 marks]: Is the average price of flight tickets higher on weekends (Saturday and Sunday) or on weekdays (Remaining 5 days)?

**Options**

(A) Weekends (Saturday and Sunday)

(B) Weekdays

**Answer**

V1: (A)

V2: (A)

V3: (B)

V4: (A)

V5: (A)

In [58]:
weekends = df[df.WeekDay.isin(["Saturday" , "Sunday"])].Price.mean()
weekdays = df[~df.WeekDay.isin(["Saturday" , "Sunday"])].Price.mean()

weekends , weekdays

(9058.016077170418, 9015.219666215608)

### Q5 [5 marks]: Two of the entries in the `'Additional_Info'` column are `'No info'` and `'No Info'`. Replace all occurrences of `'No Info'` with `'No info'`. How many flights fall under airline `'IndiGo'` and have `'No info'` as additional information?"

**Answer**

V1: $1650$ No Range is required

V2: $1594$ No Range is required

V3: $1633$ No Range is required

V4: $1624$ No Range is required

V5: $1651$ No Range is required


#### **Note:** Please ensure that you make the changes directly within the dataset and continue to use that modified dataset for subsequent questions.

In [59]:
df.replace(to_replace="No Info" , value="No info" , inplace=True)
df[(df.Airline == "IndiGo") & (df.Additional_Info == "No info")].shape

(1650, 13)

### Q6 [5 marks]: Convert the values of `'Duration'` into seconds. Enter the average duration (in seconds) of a flight. Enter your answer correct to two decimal places.


#### **Note:** Please ensure that you make the changes directly within the dataset and continue to use that modified dataset for subsequent questions.

**Answer:**

V1: $38957.90$ Range: $[38957.8, 38958.0]$

V2: $38588.09$ Range: $[38588.0, 38588.2]$

V3: $38891.80$ Range: $[38891.7, 38891.9]$

V4: $39224.57$ Range: $[39224.47, 39224.67]$

V5: $38445.11$ Range: $[38445.01, 38445.21]$

In [60]:
def timeToSec(time):
    time = time.split()
    if len(time) == 1:
        if "h" in time[0]:
            return int(time[0].replace("h" , ""))*3600
        elif "m" in time[0]:
            return int(time[0].replace("m" , ""))*60
    else:
        hours = int(time[0].replace("h" , ""))
        minutes = int(time[1].replace("m" , ""))
        return hours * 3600 + minutes * 60

In [61]:
df.Duration = df.Duration.apply(timeToSec)
df.Duration.mean()

38957.93650793651

### Apply the following functions to the columns `Dep_Time` and `Arrival_Time`:

- Transform the values in the 'dep_time' and 'arrival_time' columns to represent the hour component. For instance, if an entry is 10:05 June 13 or 10:05, the corresponding value should be 10.


- Then convert the time into four categories as follows:
  - `5 <= hour < 12` = `Morning`
  - `12 <= hour < 17` = `Afternoon`
  - `17 <= hour < 20` = `Evening`
  - `20 <= hour < 5` = `Night`


  #### **Note:** Please ensure that you make the changes directly within the dataset and continue to use that modified dataset for subsequent questions.

In [62]:
def timeToCategory(time):
    hour = int(time.split(":")[0])
    if 5 <= hour < 12:
        return "Morning"
    elif 12 <= hour < 17:
        return "Afternoon"
    elif 17 <= hour <= 20:
        return "Evening"
    else:
        return "Night"

In [63]:
df.Dep_Time = df.Dep_Time.apply(timeToCategory)
df.Arrival_Time = df.Arrival_Time.apply(timeToCategory)

### Q7 [5 marks]: How many flights started in the Morning and arrived the destination at Evening?

**Answer:**

V1: $922$ No Range is required

V2: $915$ No Range is required

V3: $937$ No Range is required

V4: $883$ No Range is required

V5: $933$ No Range is required

In [66]:
((df.Dep_Time == "Morning") & (df.Arrival_Time == "Evening")).sum()

1014

In [67]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

In [72]:
output = scaler.fit_transform(df.select_dtypes(include=["int64" , "float64"]))

In [79]:
max(output.flatten())

1.0