In [45]:
import pandas as pd

In [22]:
url = "https://drive.google.com/file/d/16D9FztGYzHiOXHzz5FiojqVbyOyV6zM2/view"
fileId = url.split("/")[-2]
urlNew = "https://drive.google.com/uc?id=" + fileId
df = pd.read_csv(urlNew)

#### Q1) How many unknown ("?) values are present in the dataset? Remove/Delete unknown ("?) values present in the dataset to make it null value.
Remove/Delete - means it will show NAN in place of "?"  
Note: If there is no value present in the dataset it is represented as NAN(read pandas documentation for all the other ways to represent null values) in data

In [47]:
df.replace(to_replace="?" , value=pd.NA , inplace=True)
df.isna().sum().sum()

5548

#### Q2) What is the shape of the dataset ?

In [48]:
df.shape

(10000, 12)

#### Q3) What is the value present at the 692th indexed row and 0th indexed column in the data ?

dataframe[692,0] (simpy saying this in a matrix)  
rows/ columns starts indexing from zero(0) in python

In [49]:
df.iloc[692,0]

'2009-11-16'

#### Q4) What is the value present at the 546th indexed row and 7th indexed column in the data ?
 dataframe[546,7] (simpy saying this in a matrix)  
 rows/ columns starts indexing from zero(0) in python

In [50]:
df.iloc[546,7]

3

#### Q5) What are the unique values present in the Locality feature of the dataset?

In [51]:
df["Locality"].unique()

array(['Waterbury', 'Bridgeport', 'Greenwich', 'Norwalk', nan,
       'Fairfield', 'West Hartford', 'Stamford'], dtype=object)

#### Q6) Which of the following features have missing(NaN) values present in the dataset?

In [52]:
for col in df.columns:
    if df[col].isna().any():
        print(col)

Locality
Estimated Value
Property
carpet_area

#### Q7) Which of the following feature has most missing(NaN) values present in the dataset?

In [62]:
df.isna().sum().idxmax()

'Property'

#### Q8) Drop all the samples(rows) with missing values strictly greater than 2. How many samples remains after that ?

In [77]:
df.drop(df[df.isna().sum(axis=1) > 2].index).shape[0]

9917

#### Q9) Drop all the samples(rows) with missing values in the original dataframe . How many samples remains after that ?