In [1]:
import pandas as pd

In [13]:
url = "https://drive.google.com/file/d/1zP38WCdZQ9StsAHTTLk72763QJQkhWrG/view?usp=sharing"
fileId = url.split('/')[-2]
urlNew = "https://drive.google.com/uc?id=" + fileId
df = pd.read_csv(urlNew)

In [93]:
df.head(10)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,WeekDay,Day,Transformed_Arrival_Time
0,Jet Airways,Delhi,Banglore,DEL → BOM → COK,20:00,04:25 10 Jun,26h 35m,1 stop,In-flight meal not included,14924,6,Thursday,6.0,None
1,Jet Airways,Delhi,Cochin,DEL → BOM → COK,16:00,19:00 10 Jun,27h,1 stop,In-flight meal not included,10577,6,Sunday,9.0,Evening
2,Jet Airways,Mumbai,Hyderabad,BOM → HYD,19:35,21:05,1h 30m,non-stop,No info,5678,3,Friday,15.0,None
3,Multiple carriers,Delhi,Banglore,DEL → BOM → COK,18:55,01:30 16 Jun,15h 10m,1 stop,In-flight meal not included,7408,5,Monday,6.0,None
4,Air India,Delhi,Cochin,DEL → COK,17:10,17:55,8h 20m,non-stop,No info,6724,6,Monday,24.0,Evening
5,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,08:55,21:20,12h 25m,1 stop,In-flight meal not included,11087,3,Saturday,9.0,None
6,Jet Airways,Kolkata,Banglore,CCU → BOM → BLR,21:10,04:40 02 Apr,7h 30m,1 stop,No info,13364,4,Monday,1.0,None
7,SpiceJet,Delhi,Banglore,DEL → MAA → COK,16:30,11:20,12h 10m,1 stop,No info,6297,5,Sunday,12.0,Morning
8,IndiGo,Mumbai,Hyderabad,BOM → HYD,19:05,20:35,1h 30m,non-stop,No info,2754,5,Monday,6.0,None
9,Air India,Delhi,Cochin,DEL → HYD → MAA → COK,05:05,09:25 16 Jun,11h 5m,2 stops,No info,10975,4,Monday,15.0,Morning

#### Q1) What is the average of the flight ticket price? Write your answer correct to two decimal places.

In [19]:
df["Price"].mean()

9027.895555555555

#### Q2) During which month did the highest number of flights occur? Months are represented by numerical codes, with January corresponding to 1, February to 2, and so forth.

In [36]:
df["Month"].value_counts().idxmax()

5

#### Q3) Is the average price of flight tickets higher on weekends (Saturday and Sunday) or on weekdays (Remaining 5 days)?

In [48]:
df_temp = df.groupby("WeekDay")["Price"].sum()

In [54]:
df_temp[["Saturday" , "Sunday"]].mean() > df_temp[["Monday" , "Tuesday" , "Wednesday" , "Thursday" , "Friday"]].mean()

True

#### Q4) Two of the entries in the 'Additional_Info' column are 'No info' and 'No Info'. Replace all occurrences of 'No Info' with 'No info'. How many flights fall under airline 'IndiGo' and have 'No info' as additional information?

In [104]:
df.replace("No Info" , "No info")[(df["Airline"] == "IndiGo") & (df["Additional_Info"] == "No info")].shape[0]

1647

#### Q5) Convert the values of 'Duration' into seconds. Enter the average duration (in seconds) of a flight. Enter your answer correct to two decimal places.

In [81]:
def convertToSeconds(time:str):
    seconds = 0
    if "h" in time:
        hours = int(time.split("h")[0])
        seconds += hours*60*60
    if "m" in time and "h" in time:
        minutes = int(time.split(" ")[1].replace("m" , ""))
        seconds += minutes*60
    elif "m" in time:
        minutes = int(time.replace("m" , ""))
        seconds += minutes*60
    return seconds

In [84]:
df["Duration"].apply(convertToSeconds).mean()

38957.93650793651

**Apply the following functions to the columns Dep_Time and Arrival_Time:**

**Transform the values in the 'dep_time' and 'arrival_time' columns to represent the hour component. For instance, if an entry is 10:05 June 13 or 10:05, the corresponding value should be 10.**
Then convert the time into four categories as follows:

5 <= hour < 12 = Morning   
12 <= hour < 17 = Afternoon   
17 <= hour < 20 = Evening   
20 <= hour < 5 = Night  

**Note**: Please ensure that you make the changes directly within the dataset and continue to use that modified dataset for subsequent questions.

#### Q6) How many flights started in the Morning and arrived the destination at Evening?

In [106]:
def convertTime(time : str):
    hour = int(time.split(":")[0])
    if 5 <= hour < 12:
        return "Morning"
    elif 12 <= hour < 17:
        return "Afternoon"
    elif 17 <= hour < 20:
        return "Evening"
    elif 5 < hour <= 20:
        return "Night"

In [90]:
df["Transformed_Arrival_Time"] = df["Arrival_Time"].apply(convertTime)

In [107]:
df["Transformed_Dep_Time"] = df["Dep_Time"].apply(convertTime)

In [113]:
df[( df["Transformed_Dep_Time"] == "Morning") & ( df["Transformed_Arrival_Time"] == "Evening" )].shape[0]

922

#### Q7) Encode the values of column 'WeekDay' as follows:
Weekends (Sunday, Saturday) = 1  
all remaining five days = 0  
What is the most frequent (mode) WeekDay?

In [117]:
df["WeekDay"].apply(lambda day : 1 if day in ["Saturday" , "Sunday"] else 0).mode()

0    0
Name: WeekDay, dtype: int64